@import "tailwindcss";

body {
  font-family: "IRANSansXFaNum", sans-serif;
  background-color: #210f37;
}

@layer utilities {
  .blackColor {
    color: #210f37;
  }

  @keyframes slide-right-left {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  .animate-slide {
    animation: slide-right-left 1s ease-in-out infinite;
  }
}

@theme {
  --breakpoint-420: 420px;
  --breakpoint-520: 520px;
  --breakpoint-620: 620px;
  --breakpoint-720: 720px;
  --breakpoint-820: 820px;
  --breakpoint-920: 920px;
}

@media (min-width: 920px) {
  .grid-cols-3-920 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
